
* {
	margin:0px;
	padding:0px;
	}
	
h1, h2, h3 {
	font-family:georgia;
	font-weight:normal;
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	}

h2 {
	position:relative;
	margin-bottom:5px;
	}
	
h3 {
	margin:15px 0 15px 0;
	}

p {
	color: antiquewhite;
}
	
body {
	color: antiquewhite;
	background: url('https://i.pinimg.com/originals/b9/d9/68/b9d968012a2804a3f3a4aa063b3b23ae.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}


#wrapper {
	position:relative;
	margin-top:15px;
	padding-top:15px;
	}
	
#wrapper div.enigma {
	/* display: block;
    margin-left: auto;
    margin-right: auto; */
	float:left;
	width:40%;
	margin-top: 10%;
	margin-left: 5%;
	padding: 2% 0 2% 2%;
	}

.enigma {
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 9.0px );
	-webkit-backdrop-filter: blur( 9.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.receiver {
	margin-left: 10%;
}
	
.enigma div.plugboard {
	float:left;
	width:30%;
	}
	
.enigma div.rotors {
	float:left;
	width:60%;
	}
	
.plugboard select {
	width:50px;
	}
	
.enigma p {
	margin:6px 0 6px 0;
	}
	
div.message {
	clear:left;
	padding-top:30px;
	}
	
.message input {
	border:solid black 1px;
	font-size:12pt;
	padding:5px;
	width:70%;
	}
	
button {
	border:solid black 1px;
	font-size:12pt;
	padding:5px;
	margin-left:5px;
	cursor:pointer;
	outline:none;
	}
	
div button {
	width:75px;
	}
	
h2 button {
	position:absolute;
	top:0px;
	left:200px;
	width:140px;
	}
	
#dec_output, #enc_output {
	background:#CCE0F2;
	}
	
#error {
	margin:15px 0 15px 0;
	padding:5px;
	color:black;
	background:#FADACA;
	border:solid 1px #FF0038;
	display:none;
	}
